$layout-border: rgba(200,200,200,0.5);

$faded-gray: rgba(112,112,112,0.5);

$walker-red: rgb(238,51,56);
$walker-red-alpha: rgba(238,51,56,0.3);

$walker-red-alternate: rgb(190,45,48);
$walker-red-alternate-transparent: rgba(190,45,48,0);

$walker-blue: rgb(175,175,255);