<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | Walker Technologies, Inc.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/assets/images/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="128x128" href="/assets/images/retina-favicon.png">
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
</head>
<body>
  <div id="faux-body-for-sticky-footer">
    <header>
      <address>
        <ul>
          <li>Headquartered in San Antonio, Texas</li>
          <li><a href="tel:210-845-7630">(210) 845-7630</a></li>
        </ul>
      </address>
      <nav id='navigation'>
        <a id='walker-logo' href="/">Walker Technologies, Inc.</a>
        <ul id="main-navigation">
          <li><a class= "walker-button" href="http://walker-technologies.net/about"><div class="nav-style top"></div><div class="nav-style left"></div>About<div class="nav-style right"></div></a></li>
          <li><a class= "walker-button" href="http://walker-technologies.net/services"><div class="nav-style top"></div><div class="nav-style left"></div>Services<div class="nav-style right"></div></a></li>
          <li><a class= "walker-button" href="http://walker-technologies.net/contact"><div class="nav-style top"></div><div class="nav-style left"></div>Contact Us<div class="nav-style right"></div></a></li>
        </ul>
      </nav>
    </header>
    <section id="main-body">
    </section>
    <div id="footer-clear"></div>
  </div>
  <footer id="main-footer">
    <div class="walker-thatch"></div>
    <p id="copyright"> &copy; 2013 - 2014 Copyright Walker&nbsp;Technologies,&nbsp;Inc. All&nbsp;Rights&nbsp;Reserved.</p>
  </footer>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/scripts/jquery.easing.min.js"></script>
  <script type="text/javascript" src="/assets/scripts/slides.min.jquery.js"></script>
  <script type="text/javascript" src="/assets/scripts/konamicode.js"></script>
</body>
</html>
